<h1>New Car</h1>

<form action='/create' method='post'>
	
	Make
	<input name='make' type='text'><br>
	Model
	<input name='model' type='text'><br>
	Year
	<input name='year' type='text'><br>
	Mileage
	<input name='mileage' type='text'><br>
	Color
	<input name='color' type='text'><br>
	Name
	<input name='name' type='text'><br>
	<input type='submit' class='btn btn-primary'>

</form>