<h1 class='text-center'> Pants - The best thing since pants.</h1>

<form action='/search' method ='get' class='text-center'>

	<input name='query' placeholder='Enter a U.S. city...' type='text'>
	<input type='submit' value='I am feeling lucky' class='btn' >

</form>

<h2> What's up? </h2>