<h1>Welcome to Garage.io!</h1>

Hey <%= @user.first_name %>,

Welcome to garage.io.  We hope we can satisfy all your customer needs.

If you need any help, pleasefeel free to email us at support@garage.io.

Happy garageing!

Sincerely, 

Soandso

Customer Support Guy
Garage.io